.MainHeader {
	height: 23rem;
}

.MainHeader::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 23rem;
  opacity: 0.2; 
  z-index: -1;
  background: url('../../../images/mainHeaderBg1.jpg');
  filter: grayscale(100%);
}

.MainHeader .headerContent {
	margin-top: 6rem;
	width: var(--centralWidth);
	margin-left: var(--margin);
	margin-right: var(--margin);
	text-align: center;
}

.MainHeader .headerContent h1 {
	color: var(--dark);
}

.MainHeader .headerContent .primaryBtn {
	margin-right: 0.25rem;
}

.MainHeader .headerContent .secondaryBtn {
	margin-left: 0.25rem;
}

/* Medium devices (landscape tablets, 950px and up) */
@media only screen and (max-width: 950px) {
  .MainHeader .headerContent {
    margin-top: 8rem;
  }
} 



