.Review2 {
	height: 100%;
	background-color: white;
	border-radius: 1rem;
	padding: 1.5rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 5%;
	grid-template-areas: 
	'part1 part1 part1 part2 part2 part2'
	'part3 part3 part3 part3 part3 part3'
	'error error error error error error'
	'. . button button . .';

	margin-right: 2vw;
}

.Review2 h5 {
	margin-bottom: 5px;
}

.Review2 .part1 input, 
.Review2 .part2 input, 
.Review2 .part3 input {
	border: 1px solid #dedede;
	height: 1.8rem;
	border-radius: 0.4rem;
}


.Review2 .part1,
.Review2 .part2,
.Review2 .part3  {
	height: auto;
	display: flex;
	flex-direction: column;
}

.Review2 .part1 {
	grid-area: part1;
}

.Review2 .part2 {
	grid-area: part2;
}

.Review2 .part3 {
	grid-area: part3;
}

.Review2 .generalError {
	grid-area: error;
	height: 0.5rem;
	justify-self: center;
}

.Review2 button {
	margin-top: 15%;
	grid-area: button;
	margin-bottom: 12%;
	border-style: none;
	border-radius: 0.3rem;
	color: white;
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
	.Review2 {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 5%;
		grid-template-areas: 
		'part1 part1 part1' 
		'part2 part2 part2' 
		'part3 part3 part3' 
		'error error error'
		'. button .';
	}
}

