.NavBar {
	background-color: white;
	width: var(--centralWidth);
	margin: auto;
	height: calc(var(--topBarHeight) * 3);

	display: grid;
	grid-template-columns: 6rem 1fr 10rem;
}

.NavBar .logoHolder {
	display: grid;
	border-right: 1px solid var(--gray);
}

.NavBar .logoHolder img {
	height: calc(var(--topBarHeight) * 2);
	align-self: center;
	justify-self: center;
}

.NavBar .linkHolder {
	padding: 0 1rem;
	display: grid;
	grid-template-rows: var(--topBarHeight) calc(var(--topBarHeight) * 2)
}

.NavBar .linkHolder .catagoryLink > * {
	text-decoration: none;
	font-size: var(--smallFont);
	margin-right: 0.5rem;
}

.NavBar .linkHolder .menuLink {
	display: flex;
	justify-content: left;
	align-items: center;
}

.NavBar .linkHolder .menuLink > * {
	text-decoration: none;
	font-size: var(--smallFont);
	margin-right: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.NavBar .linkHolder .menuLink > *:last-child {
	margin-left: auto;
	margin-right: 0;
	font-size: var(--regularFont);
	color: gray;
}

.NavBar .contactInfo {
	border-left: 1px solid var(--gray);
	display: grid;
	grid-template-rows: calc(var(--topBarHeight)) calc(var(--topBarHeight) * 2); 
}

.NavBar .contactInfo .info {
	display: flex;
	align-items: center;
}

.NavBar .contactInfo .info > * {
	text-decoration: none;
	font-weight: var(--bolder);
}

.NavBar .contactInfo .info > *:last-child {
	font-size: var(--smallFont);
	margin-left: auto;
	margin-right: 0.5rem;
}

.NavBar .contactInfo .contact {
	display: grid;
	grid-template-columns: 0.2fr 1fr;
	background-color: var(--primary);
}

.NavBar .contactInfo .contact > *:first-child {
	font-size: 0.9rem;
	justify-self: center;
	align-self: center;
	color: var(--white);
}

.NavBar .contactInfo .contact .contactDetails {
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
}

.NavBar .contactInfo .contact .contactDetails > * {
	margin: 0;
	color: var(--white);
}

.NavBar .contactInfo .contact .contactDetails > p {
	font-weight: bold;
	margin-top: 3px;
}
