.Book {
	height: 100%;
	background-color: white;
	border-radius: 1rem;
	padding: 1.5rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 5%;
	grid-template-areas: 
	'service service service service service service'
	'part1 part1 part1 part2 part2 part2'
	'part3 part3 part3 part3 part3 part3'
	'part4 part4 part4 part4 part4 part4'
	'error error error error error error'
	'. . button button . .';

	margin-right: 2vw;
}

.Book h5 {
	margin-bottom: 5px;
}

.Book .part1 input, 
.Book .part2 input, 
.Book .part3 input {
	border: 1px solid #dedede;
	height: 1.8rem;
	border-radius: 0.4rem;
}


.Book .part1,
.Book .part2,
.Book .part3  {
	height: auto;
	display: flex;
	flex-direction: column;
}

.Book .serviceInfo {
	grid-area: service;

	display: flex;
	justify-content: space-between;
}

.Book .serviceInfo h3{
	margin: 3px 0px;
}

.Book .part1 {
	grid-area: part1;
}

.Book .part2 {
	grid-area: part2;
}

.Book .part3 {
	grid-area: part3;
}

.Book .stripe {
	grid-area: part4;
}

.Book .stripe{
	grid-area: part4;
	text-align: center;
}

.Book .generalError {
	color: red;
	transform: translateY(-20px);
	grid-area: error;
	height: 0.5rem;
	justify-self: center;
}

.Book button {
	margin-top: 15%;
	grid-area: button;
	margin-bottom: 12%;
	border-style: none;
	border-radius: 0.3rem;
	color: white;
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
	.Book {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 5%;
		grid-template-areas: 
		'service service service'
		'part1 part1 part1' 
		'part2 part2 part2' 
		'part3 part3 part3' 
		'part4 part4 part4' 
		'error error error'
		'. button .';
	}
}

