.ExpertTeam {
	margin-left: var(--margin);
	margin-right: var(--margin);
	margin-top: var(--margin);
	position: relative;
}

.ExpertTeam:after {
	position: absolute;
	content: '';
	left: -30%;
	right:-30%;
	top: -20%;
	bottom: -20%;
	z-index: -1;
	background-color: #e3e8ed;
}

.ExpertTeam h2 {
	font-weight: var(--bolder);
	font-size: var(--largeFont);
	color: var(--dark);
}

.ExpertTeam h3 {
	color: var(--dark);
	font-weight: var(--regular);
	font-size: var(--regularFont);
}

.ExpertTeam .header {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
}

.ExpertTeam .header .headline{
	margin-left: 5%;
	margin-right: 5%;
	color: var(--primary);
}

.ExpertTeam .header .headline > * {
	margin: 0;
}

.ExpertTeam .contents {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 0.8rem;
}

.ExpertTeam .contents> * {
	transition: transform 400ms ease;
}

.ExpertTeam .contents> *:hover {
	cursor: pointer;
	box-shadow: 5px 5px 20px rgba(0,0,0,0.15);
	transform: translateY(-3px);
}

.ExpertTeam .contents > *:nth-child(2),
.ExpertTeam .contents > *:nth-child(3){
	margin: auto;
}

.ExpertTeam .contents > *:last-child {
	margin-left: auto;
}

.ExpertTeam .contents > *:first-child {
	margin-right: auto;
}

