.CardElement > *:first-child{
	border: 1px solid #dedede;
	height: 1.5rem;
	border-radius: 5px;
	padding: 0.6rem 0.2rem 0rem 0.2rem;
}

.CardElement button:disabled,
.CardElement button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}